---
import Layout from '../layouts/Layout.astro'
import CrearTodo from '../components/CrearTodo.astro'
import Card from '../components/Card.astro'
import { db, User, Todo, eq, Category } from 'astro:db'

const todos = await db
  .select()
  .from(Todo)
  .innerJoin(User, eq(Todo.user_id, User.id))
  .innerJoin(Category, eq(Todo.category_id, Category.id))
---

<Layout title='Curso Astro db'>
  <main>
    <h1>Astro <span class='text-gradient'>db</span></h1>
    <CrearTodo />
    <ul
      role='list'
      class='grid'
    >
      {
        todos.map(({ Todo, User, Category }) => (
          <Card title={Todo.title}>
            <h4>Creado por: {User.username}</h4>
            <p>Descricción: {Todo.description}</p>
            <p>Category: {Category.label}</p>
          </Card>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  .grid {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
  }
  .user-name {
    margin-bottom: 0;
    text-transform: capitalize;
  }

  .user-email {
    font-size: 0.8em;
    text-transform: lowercase;
    margin-left: 0.5em;
  }
</style>
